/* COMMON */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
 
.boxed-one{
    padding-top: 5%;
    text-align: center;
    background-color: #b4d0e7;
    
}

.boxed-two{
    margin: 5% 22%;    
}

main{
    margin-top: 2.5%;
}

/* HEADER (position:fixed*/

.flex-container{
    height: 60px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top:0;
    text-align: center;
    z-index: 99;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

header > div {
    display: flex;
    justify-content: space-between;
    width: 50%;
    height: auto;
    margin: 0 5%;    
}

header > div > a{
    font-size: 20px;
    width: calc((100% / 4 ) + 23px);
    height: 100%;    
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 17px  0;
    border-bottom: 4px solid transparent;
    white-space: nowrap;
}

header > div > a:hover{
    border-bottom: 4px solid black;    
    
    transition: 0.5s;      
}

.logo{
    padding-top: 13px 0;
    object-fit: contain;
    margin-bottom: 0.9%;
    margin-right: 4%;
    
}
 .login:hover{
    border-bottom: 4px solid rgb(255, 255, 255, 0.75); 
    transition: 0.5s; 
}
.login{
    text-decoration: none;
    font-size: 20px;
    color:white;
    background-color: #0061ff;
    width: 20%;
    text-align: center;
    padding: 5px;
    margin: 8px 0;  
}

/* MAIN (7sezioni)*/

/* Prima sezione */
.flex-container-firstsection{
    
    display: flex;
    justify-content: space-between;
    margin: 2% 15%;
}

.section-column-one{
    
    
    width: 35%;
    text-align: left;
    padding: 3% 0;
}

.section-column-two{
    width: 65%;
}

.boxed-one > h1{
    font-size: 65px;
    margin: 0 15%;
    text-align: left;
}

#jumbo{
    width: 100%;
    transform: scale(1.1);
    position: relative;
    top: 13% ;  
}

.section-column-one > p{
    font-size: 21px;
    margin-bottom: 7%;
    margin-right: 35px ;
}

.section-column-one > a{
    text-decoration: none;
    text-align: center;
    background-color: #0061ff;
    border: none;
    width: 73%;
    padding: 12px;
    white-space: nowrap;
    color: white; 
}

.short{
    position: relative;
    top: 35%;
    color: black;
    font-size: 50px; 
}


/* Seconda sezione */

.flex-container-3{
    display: flex;
    justify-content: space-between;
}

.sec2-column{
    
    
    width: calc((100% / 3) - 3%);
    margin: 2% 0;
}

.sec2-title > h2 {
    font-size: 35px;
    margin-bottom: 2%;
}

.sec2-title > i{
    font-size: 20px;
    margin: 1%;
    padding: 0;
    display: inline-block;
}

.card{
    display: flex;
    flex-direction: column;
    border: 0.5px solid rgb(122, 121, 121);
    width: 100%;
    margin:0;
    min-height: 820px;
    
}

.card-title{
    text-align: center;
    border-bottom: 0.5px solid rgb(122, 121, 121);
    padding: 0.5%;
    

}

.card-info{
    padding: 5%;
    min-height: 325px ;
}

.card-info > h3  {
    padding: 4% 3%;
}

.card-info > h5  {
    padding: 4% 3%;
}

.card-info > p{
    padding: 4% 3%;

}

.card-info > h6  {
    padding: 4% 3%;
    font-size: 18px;
    font-weight: lighter;
}

.card-info > button{
    margin: 5% 7%;
    background-color: #0061ff;
    border: none;
    padding: 7px 17%;
    white-space: nowrap;
    color: white; 
    
}
.card-info > p > a {
    text-decoration: none;
    font-size: 15px;
    display: inline;
}
.card-info > hr{
    width: 30%;
    margin: 2% 4%;
    
    
}

.fa-check{
    color: #0061ff;
    padding-right: 4px;
    
}


.sec2-team{    
    display: flex;
    flex-direction: column;
    border: 0.5px solid rgb(122, 121, 121);
    width: 100%;
    margin: 8% 0;
    
}

.sell-office{   
    text-align: center;
    padding: 0.5%;
    font-size: 16px; 
}

.rel-container{
    padding: 3% 2% ;
    border-top: 0.5px solid rgb(122, 121, 121);
    font-size: 22px;

}

.contact{
    position: relative;
    bottom: 25px;
    left: 80% ;
    text-decoration: none;
    font-size: 18px;
    color:white;
    background-color: #0061ff;
    width: 20%;
    text-align: center;
    height: 28px;
    line-height: 26.5px;
    padding: 5px;
}

.rel-container > h5{
   margin-top: -2%;
   font-size: 15px;
}
.rel-container > p{    
    margin-top: 5% ;
    font-size: 15px;
}

/* TErza sezione */

.flex-container-thirdsection{    
    display: flex;
    justify-content: space-between;
}


.sec3-row-right{
    
    
    width: calc((100% / 2) );
    margin: 0 1%;
    padding: 7% 0 ;
    
}


#partner{
    width: 95%;
}
.sec3-row-right > h3 {
 font-size: 30px;
}

.sec3-row-right > p{
    font-size: 17.3px;
    margin: 5% 0;
    display: inline-block;
}

.sec3-row-right > a {
    text-decoration: none;
    background-color: whitesmoke;
    border: 1px solid rgb(46, 46, 46);
    color: rgb(46, 46, 46);
    font-size: 20px ;
    padding: 3%;
    margin-top: 6%;
    display: inline-block;
}

/* QUARTA SEZIONE */

.sec4-row{
    
    width: calc((100% / 3) - 4%);
    margin: 1% auto;
}

.sec4-row > img{
    width: 100%;
    
}

.sec4-row > h3{
    font-size: 28px;
    margin: 10% 0;
    font-weight: 750;
}

.sec4-row > p{
    font-size: 20px;
}



.flex-container-4{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    
}

section.boxed-two > h2{
    text-align: left;
    margin: 5% 0;
    font-size: 43px;
}

/* Quinta sezione (fascione) */

.sec5{
    margin-top: 3.5%;
    margin-bottom: 3.5%;
}

.sec5 > div > h2{
    font-size: 50px;
}

.sec5 > div > a{
    display: inline-block;
    margin-top: 2%;
    font-size: 22px;
}

/* Sesta Sezione */

.se6-column{
    background-color: #f5f5f5;
    width: calc(100% / 3);
    max-height: 601px ;
    min-height: 601px;
}
.se6-column > img{
    display: none;
}
/* PULSANTE ATTIVO */
.c1:active{
    border: 15px  inset   rgba(255, 255, 255, 0.5) ;  
}
.c2:active{
    border: 15px  inset  rgba(255, 255, 255, 0.5) ;  
}
.c3:active{
    border: 15px  inset    rgba(255, 255, 255, 0.5) ;  
}
.c4:active{
    border: 15px  inset rgba(255, 255, 255, 0.5) ;  
}
.c5:active{
    border: 15px  inset  rgba(255, 255, 255, 0.5) ;  
    
}
.c6:active{
    border: 15px  inset  rgba(255, 255, 255, 0.5) ;  
    
}
.c7:active{
    border: 15px  inset  rgba(255, 255, 255, 0.5) ;  
    
}
.c8:active{
    border: 15px  inset  rgba(255, 255, 255, 0.5) ;  
    
}
/* CAMBIO LOGO ONCLICK */

.no:target{
    display: block;
    max-width: 50%;
    height: 25%;
}
.no{
    display: none;
}

/* FINE CAMBIO LOGO ONCLICK */

.square{
    width: calc(100% / 2);
    height: calc(100% / 2);   
}
 /* BACKGROUND SQUARE */

.c1{
    background-color:#a2d39b ;
}

.c2{
    background-color: rgb(97, 8, 43) ;
}

.c3{
    background-color: rgb(0, 147, 206);
}

.c4{
    background-color: rgb(255, 28, 28);
}

.c5{
    background-color: rgb(213, 0, 31);
}

.c6{
    background-color: rgb(180, 208, 231);
}

.c7{
    background-color: rgb(13, 36, 129);
}
.c8{
    background-color:rgb(255, 216, 48) ;
}

/* END SQUARE BACKGROUND */

.square > img{
    margin: 20%;
    max-height: 60%;
    max-width: 60%;
}

.row-column{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.se6-column > p  {
    font-size: 30px;
    margin: 4%;
}

.se6-column > h5{
    font-size: 20px;
    margin: 4%;
}
.se6-column > img{
    margin: 3%;
    padding: 5%;
}
.se6-column > hr{
    display: block;
    width: 150px;
    color: black;
    margin: 3% 4%;
}

.fascione{
    margin-top: 0;
    color: #61082b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 450px;
}

.fascione > h3{
    font-size: 45px;
    display: block;
    padding-top: 3%;    
}

.fascione > a {
    white-space: nowrap;
    text-decoration: none;
    background-color: whitesmoke;
    border: 1px solid rgb(46, 46, 46);
    color: rgb(46, 46, 46);
    font-size: 20px ;
    padding: 1.5%;
    display: inline-block;
}

 /* SETTIMA SEZIONE */

.sec7{
    margin-top: 5%;
    margin-bottom: 5%;
}
#invisible{
   display: none;
}
#contenitore:hover #invisible  { 
    display: block;
}
#rotate{
    float: right;
    margin-right: 3%;
    font-size: 25px;
}
#contenitore:hover #rotate{
    transform: rotate(180deg);
    display: inline-block;
}

#contenitore > h5{
    border-bottom: 1px solid grey;
    font-size: 18px;
    margin: 2% 0;
    padding-bottom: 3%;
}

.sec7 > h3{
    font-size: 35px;
}

/* SEZIONE FOOTER */

.f-back{
    background-color: black;
    color: whitesmoke;
    min-height:550px;
}
.f-column{
    width: calc((100% / 5) - 5%);
    margin: 3.5% 0.5%;
}

.f-column > h6{
    margin: 8% 0;

}

.f-column > h6 > a{
    font-size: 14px;
    margin: 8% 0;
    text-decoration: none;
    color: white;
}

.f-column > h4 {
    font-size: 26px;
    font-weight: 900;
    margin: 8% 0;
}

.boxed-two > hr{
    display: block;
    margin: 3% 0;
    width: 15%;
}

select {
    background-color: black;
    color: white;
    border: none;
}
