/* COMMON */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
.boxed-one{
    margin: 0 15%;
    
    text-align: center;
}

.boxed-two{
    margin: 0 22%;
    
}

/* HEADER (position:fixed*/

.flex-container{
    height: 60px;
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
header > div {
    display: flex;
    justify-content: space-around;
    width: 15%;
    text-align: center;
    
}
header > div > a{
    font-size: 10px;
    width: calc((100% / 5 ) - 4%);
    margin: 0 2%;
}
.grow{
    flex-grow: 2;
}

/* MAIN (7sezioni)*/

/* Prima sezione */
.flex-container-2{
    background-color: blue;
    display: flex;
    justify-content: space-between;



}

.section-column-one{
    background-color:rgb(230, 246, 8);
    height: 450px;
    width: 450px;
}

/* Seconda sezione */

.flex-container-3{
    display: flex;
    justify-content: space-between;
    background-color: blue;
    
    
}

.sec2-column{
    background-color: rgb(230, 246, 8);
    height: 450px;
    width: calc((100% / 3) - 10%);
    margin-top: 2% 5%;
    

}

.sec2-team{
    background-color: blue;
    display: flex;
    flex-direction: column;
}

.sell-office{
    background-color: rgb(230, 246, 8);
    text-align: center;
}

/* TErza sezione */

.sec3-row{
    background-color:  rgb(230, 246, 8);
    height: 450px;
    width: calc((100% / 2) - 2%);
    margin: 0 1%;
    padding: 7% 0;
   
}

.sec3-row > h3 {
 font-size: 35px;
}

.sec3-row > p{
    font-size: 28px;
    margin: 3% 0;
    display: inline-block;
}

.sec3-row > a {
    text-decoration: none;
    background-color: whitesmoke;
    border: 1px solid rgb(46, 46, 46);
    color: rgb(46, 46, 46);
    font-size: 28px ;
    padding: 1%;
    margin-top: 3%;
    display: inline-block;
}

/* QUARTA SEZIONE */

.sec4-row{
    background-color: rgb(230, 246, 8) ;
    width: calc((100% / 3) - 4%);
    margin: 1% auto;
    

}

.flex-container-4{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    
    
    background-color: blue;
    
}

section.boxed-two > h2{
    text-align: center;
}

/* Quinta sezione (fascione) */

.sec5{
    margin-top: 3.5%;
}

.sec5 > div > h2{
    font-size: 50px;
}

.sec5 > div > a{
    display: inline-block;
    margin-top: 2%;
    font-size: 22px;
}

/* Sesta Sezione */

.se6-column{
    background-color: rgb(230, 246, 8) ;
    
    width: calc(100% / 3);
}

.square{
    background-color: blueviolet;
    border: 1px dashed black;
    min-width: 317px;
    min-height: 317px;
    
}

.row-column{ 
    display: flex;
    flex-wrap: wrap;

}

.se6-column > p{
    font-size: 30px;
    margin: 4%;

}

.se6-column > h5{
    font-size: 20px;
    margin: 4%;
}

.se6-column > hr{
    display: block;
    width: 150px;
    
    color: black;
    margin: 3% 4%;
}

.fascione{
    margin-top: 0;
    color: crimson;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 250px;

}

.fascione > h3, a{
    font-size: 26px;
    display: block;
    
    white-space: nowrap;
}
 /* SETTIMA SEZIONE */

.sec7{
    margin-top: 5%;
    margin-bottom: 5%;
}
#invisible{
   display: none;
}
 #contenitore:hover #invisible  { 
    display: block;
     
   
 }

 #contenitore > h5{
    border-bottom: 1px solid grey;
    font-size: 26px;
    margin: 2% 0;
    padding-bottom: 3%;
 }

 .sec7 > h3{
    font-size: 35px;
    
 }

/* SEZIONE FOOTER */

.f-back{
    background-color: black;
    color: whitesmoke;
}
.f-column{
    width: calc((100% / 5) - 5%);
    background-color: rgb(230, 246, 8) ;
    margin: 0 0.5%;
}

.f-column > h6{
    font-size: 20px;
    margin: 2% 0;
}

.f-column > h4 {
    font-size: 26px;
    font-weight: 900;
}

.boxed-two > hr{
    display: block;
    margin: 3% 0;
    width: 15%;
}
