/* COMMON */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
 
.boxed-one{
    margin: 0 15%;
    text-align: center;
}

.boxed-two{
    margin: 0 22%;    
}

main{
    margin-top: 8%;
}

/* HEADER (position:fixed*/

.flex-container{
    height: 60px;
    background-color: rgb(210, 208, 208);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top:0;
    text-align: center;
    z-index: 99;
}

header > div {
    display: flex;
    justify-content: space-between;
    width: 50%;
    height: auto;
    margin: 0 5%;    
}

header > div > a{
    font-size: 20px;
    width: calc((100% / 4 ) + 23px);
    height: 100%;    
    text-decoration: none;
    color: whitesmoke;
    padding: 17px 0;
}

header > div > a:hover{
    border-bottom: 4px solid black;    
    padding: 17px 0;
    transition: 0.5s;      
}

header > div > img{
    padding: 17px 0;
    object-fit: contain;
}

/* MAIN (7sezioni)*/

/* Prima sezione */
.flex-container-2{
    background-color: blue;
    display: flex;
    justify-content: space-between;
    margin-top: 5% ;
    margin-bottom: 5%;
}

.section-column-one{
    background-color:rgb(230, 246, 8);
    height: 450px;
    width: 450px;
}

.boxed-one > h1{
    font-size: 40px;
}

/* Seconda sezione */

.flex-container-3{
    display: flex;
    justify-content: space-between;
         
}

.sec2-column{
    background-color: rgb(230, 246, 8);
    height: 450px;
    width: calc((100% / 3) - 10%);
    margin-top: 2% 5%;
}

.sec2-team{    
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 100%;
    margin: 5% 0;
}

.sell-office{   
    text-align: center;
    border: 1px solid black;
}

.rel-container{
    padding: 2%;
    border: 1px solid black;
}

.contact{
    position: relative;
    bottom: 25px;
    left: 80% ;
    text-decoration: none;
    font-size: 18px;
    color:white;
    background-color: rgb(37, 37, 228);
    width: 20%;
    text-align: center;
    height: 28px;
    line-height: 26.5px;
}

.boxed-two > h2{
    font-size: 35px;
    margin-bottom: 2%;
}

.boxed-two > i{
    font-size: 20px;
    margin: 1%;
    padding: 0;
    display: inline-block;
}

/* TErza sezione */

.sec3-row{
    background-color:  rgb(230, 246, 8);
    height: 450px;
    width: calc((100% / 2) - 2%);
    margin: 0 1%;
    padding: 5% 2%;
}

.sec3-row > h3 {
 font-size: 35px;
}

.sec3-row > p{
    font-size: 28px;
    margin: 3% 0;
    display: inline-block;
}

.sec3-row > a {
    text-decoration: none;
    background-color: whitesmoke;
    border: 1px solid rgb(46, 46, 46);
    color: rgb(46, 46, 46);
    font-size: 28px ;
    padding: 1%;
    margin-top: 3%;
    display: inline-block;
}

/* QUARTA SEZIONE */

.sec4-row{
    background-color: rgb(230, 246, 8) ;
    width: calc((100% / 3) - 4%);
    margin: 1% auto;
}

.flex-container-4{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    background-color: blue;
}

section.boxed-two > h2{
    text-align: center;
    margin: 5%;
}

/* Quinta sezione (fascione) */

.sec5{
    margin-top: 3.5%;
    margin-bottom: 3.5%;
}

.sec5 > div > h2{
    font-size: 50px;
}

.sec5 > div > a{
    display: inline-block;
    margin-top: 2%;
    font-size: 22px;
}

/* Sesta Sezione */

.se6-column{
    background-color: rgb(230, 246, 8) ;
    width: calc(100% / 3);
}

.square{
    background-color: blueviolet;
    border: 1px dashed black;
    min-width: 317px;
    min-height: 317px;
}

.row-column{ 
    display: flex;
    flex-wrap: wrap;
}

.se6-column > p  {
    font-size: 30px;
    margin: 4%;
}

.se6-column > h5{
    font-size: 20px;
    margin: 4%;
}
.se6-column > img{
    margin: 3%;
    padding: 5%;
}
.se6-column > hr{
    display: block;
    width: 150px;
    color: black;
    margin: 3% 4%;
}

.fascione{
    margin-top: 0;
    color: crimson;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 250px;
}

.fascione > h3, a{
    font-size: 26px;
    display: block;
    white-space: nowrap;
}
 /* SETTIMA SEZIONE */

.sec7{
    margin-top: 5%;
    margin-bottom: 5%;
}
#invisible{
   display: none;
}
 #contenitore:hover #invisible  { 
    display: block;
}

 #contenitore > h5{
    border-bottom: 1px solid grey;
    font-size: 26px;
    margin: 2% 0;
    padding-bottom: 3%;
 }

 .sec7 > h3{
    font-size: 35px;
}

/* SEZIONE FOOTER */

.f-back{
    background-color: black;
    color: whitesmoke;
    min-height:350px;
}
.f-column{
    width: calc((100% / 5) - 5%);
    margin: 0 0.5%;
}

.f-column > h6 > a{
    font-size: 14px;
    margin: 8% 0;
    text-decoration: none;
    color: white;
}

.f-column > h4 {
    font-size: 26px;
    font-weight: 900;
    margin: 8% 0;
}

.boxed-two > hr{
    display: block;
    margin: 3% 0;
    width: 15%;
}

select {
    background-color: black;
    color: white;
    border: none;
}
